* {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}


table {
    margin: 50px
}

tr {
    height: 40px;
    text-align: center;
    width: 50px;
}

h2 {
    color: rgb(195, 214, 216);
}
.head {
    background-color: rgb(72, 65, 65);
}

.btn {
    display: flex;
    justify-content: center;
    width: 80px;
    padding: 10px;
    margin-left: 50px;
    background-color: rgb(21, 212, 149);
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
}

.btn:hover {
    color: aliceblue;
    background-color: rgb(17, 109, 78);
}

.update {

    font-size: 16px;
    line-height: 21px;
    background: #2196f38f;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    text-decoration: none;
    color: #ffffff;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.2s;
}

.delete {
    font-size: 16px;
    line-height: 21px;
    background: #00aecd94;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    text-decoration: none;
    color: #ffffff;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.2s;
}

.button {
    display: flex;
}